html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}


.calculator {
    border: 3px solid #161616;
    background-color: #161616;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    min-width: 200px;
}

.calculator-screen {
    width: 100%;
    font-size: 5rem;
    height: 8rem;
    background-color: #ccc;
    color: #161616;
    text-align: right;
    padding-right: 1rem;
}

.calculator-keys {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 2rem;
}

button {
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 6rem;
    font-size: 2rem;
    background-color: #fff;
    color: #333;
}

button:hover {
    background-color:#ccc
}

.all-clear:hover {
    background-color: #ff6a6f;
}

.equal-sign {
    background-color: #2e86c0;
    color: #fff;
    height: 100%;
    grid-row: 2/6;
    grid-column: 4/5;
}

.equal-sign:hover {
    background-color: #4e9ed4;
}

@media only screen and (max-width: 900px) { 
    
    .calculator {
        width: 80%;
    }  
}  

@media only screen and (max-width: 450px) { 
    
    .calculator {
        width: 60%;
    }    

    .calculator-screen {
        height: 6rem;
        font-size: 3rem;
    }

    .calculator-keys {
        padding: 0.75rem;
        grid-gap: 0.5rem;
    }
    
    
    button {
        height: 3.5rem;
        font-size: 1.2rem;
    }
}